<div ng-controller="CustomizeUsersController">

    <form>
    	<p>First Name</p>	<input type="text" ng-model="newUser.first_name">
    	<br>
    	<p>Last Name</p>	<input type="text" ng-model="newUser.last_name">
    	<br>
    	<p>Favorite Language</p>	<input type="text" ng-model="newUser.language">
    	<input type="submit" value="Add User" ng-click="addUser()">
    </form>


    <span style="font-size: 12px">click on header to sort</span>
    <table>
		<tr>
			<th>
				<button ng-click="order('first_name')">First Name</button>
				<span class="sortorder" ng-show="predicate === 'first_name'" ng-class="{reverse:reverse}"></span>
			</th>
			<th>
				<button ng-click="order('last_name')">Last Name</button>
				<span class="sortorder" ng-show="predicate === 'last_name'" ng-class="{reverse:reverse}"></span>
			</th>
			<th>
				<button ng-click="order('language')">Favorite Language</button>
				<span class="sortorder" ng-show="predicate === 'language'" ng-class="{reverse:reverse}"></span>
			</th>
			<th>Actions</th>
		</tr>
		<tr ng-repeat="user in users | orderBy:predicate:reverse">
			<td>{{ user.first_name }}</td>
			<td>{{ user.last_name }}</td>
			<td>{{ user.language }}</td>
			<td><a href="" ng-click="removeUser(user)">Delete User</a></td>
		</tr>
	</table>
</div>